{% extends 'base.html.twig' %}

{% set activeTab = "tasks" %}

{% block title %}Dodawanie statusu zadania{% endblock %}

{% block body %}
    <div class="header">
        <h1>Dodawanie statusu zadania</h1>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.category) }}
    {{ form_row(form.name) }}
    <button type="submit" class="btn btn-primary">Dodaj status</button>
    <a href="{{ path('status') }}" class="btn btn-link">Wróć do listy statusów</a>
    {{ form_end(form) }}
{% endblock %}



