{% extends 'base.html.twig' %}

{% set activeTab = "tasks" %}

{% block title %}Statusy zadań{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="my-4">Statusy zadań</h1>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Nazwa statusu</th>
                    <th scope="col">Operacje</th>
                </tr>
                {% for st in status %}
                    <tr>
                        {% if st.category == 'done' %}
                            <td>Zrobione</td>
                        {% elseif st.category == 'in_progress' %}
                            <td>W realizacji</td>
                        {% else %}
                            <td>Niezrobione</td>
                        {% endif %}
                        <td>{{ st.name }}</td>
                        <td>
                            <button data-path="{{ path('status_delete', {status: st.id}) }}"
                                    data-name="{{ st }}"
                                    class="btn btn-sm btn-danger btn--delete">
                                <i class="fas fa-trash"></i>Usuń
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ path('status_add') }}" class="btn btn-primary">Dodaj status</a>
        </div>
    </div>
{% endblock %}
