{% extends 'base.html.twig' %}

{% set activeTab="team" %}

{% block title %}Edycja zespołu{% endblock %}

{% block body %}
    <div class="header">
        <h1>Edycja zespołu</h1>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.employees) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('teams') }}" class="btn btn-link">Wróć do listy zespołów</a>
    {{ form_end(form) }}

{% endblock %}



