{% extends 'base.html.twig' %}

{% set activeTab = "documents" %}

{% block title %}Zarządzanie dokumentami{% endblock %}

{% block body %}
    <h1>Zarządzanie dokumentami</h1>
    <div class="header"></div>
    <div class="row">
        <div class="col-8">
            <h2 class="documentHeader">Lista Dokumentów</h2>
            {% if documents.count == 0 %}
                <p>Brak dokumentów</p>
            {% else %}
                <ul class="list-group list-group-flush">
                    {% for document in documents %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>{{ document.name }}</span>
                            <div>
                                <a href="{{ path('document_preview', {filename: document.filename}) }}"
                                   class="btn btn-sm btn-primary">Wyświetl</a>
                                <button data-path="{{ path('document_delete', {document: document.id}) }}"
                                        data-name="{{ document.name }}"
                                        class="btn btn-sm btn-danger btn--delete">Usuń</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-4">
            <h2 class="documentHeader">Dodaj Dokument</h2>
            {{ form_start(form, {attr: {autocomplete: 'off'}}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.filename) }}
            <button type="submit" class="btn btn-primary">Dodaj dokument</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
