{% extends 'base.html.twig' %}

{% set sidebarVisible = "false" %}

{% block title %}Panel logowania{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 d-flex justify-content-center flex-column">
                <form method="post" id="loginForm">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal text-left text-primary">Logowanie</h1>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" placeholder="Wpisz email" name="email"
                               id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Hasło</label>
                        <input type="password" placeholder="Wpisz hasło" name="password" id="inputPassword"
                               class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <input type="hidden" name="recaptcha_response" id="recaptchaResponse"/>
                    <button class="btn btn-primary g-recaptcha" type="submit"
                            data-callback='onSubmit' data-action='submit'
                            data-sitekey="{{ recaptcha_key }}"><i class="fas fa-sign-in-alt"></i>
                        Zaloguj
                    </button>
                    <a href="{{ path('index') }}" class="btn btn-link" type="submit">
                        <i class="fas fa-undo-alt"></i>
                        Wróć
                    </a>
                </form>
            </div>
            <div class="col-6 mt-5">
                <img src="{{ asset("images/login.svg") }}" class="login.svg">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.querySelector("#recaptchaResponse").value = token;
            document.querySelector("#loginForm").submit();
        }
    </script>
{% endblock %}
