{% extends 'base.html.twig' %}
{% set activeTab = "overtime" %}
{% block title %}Nadgodziny{% endblock %}
{% block body %}
    <h1 class="mb-3">Dodaj dyspozycję</h1>
    {{ form_start(form) }}
    {{ form_row((form.startDate)) }}
    {{ form_row((form.endDate)) }}
    <button type="submit" class="btn btn-primary">Dodaj Dyspozycję</button>
    <a href="{{ path('vacation') }}" class="btn btn-secondary">Wróć do listy dyspozycji</a>
    {{ form_end(form) }}
{% endblock %}
