{% extends 'base.html.twig' %}

{% set activeTab = "overtime" %}

{% block title %}Edycja dyspozycji{% endblock %}

{% block body %}
    <h1 class="my-4">Edycja dyspozycji</h1>
    <P><strong>{{ disposition.employee }}</strong></P>
    {{ form_start(form) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('vacation') }}" class="btn btn-secondary">Wróć do listy</a>
    {{ form_end(form) }}
{% endblock %}