{% extends 'base.html.twig' %}
{% set activeTab = "overtime" %}
{% block title %}Nadgodziny{% endblock %}
{% block body %}
    <h1 class="mb-3">Dyspozycje nadgodzin</h1>
    <div class="example-wrapper">
        {% if is_granted('ROLE_EMPLOYER') %}
        <table class="table table-striped">
            <tr>
                <th scope="col">Pracownik</th>
                <th scope="col">Początek dyspozycji</th>
                <th scope="col">Koniec dyspozycji</th>
                <th scope="col">Godziny</th>
                <th scope="col">Operacje</th>

            </tr>
            {% for disposition in overtimeDisposition %}
                <tr>
                    <td>{{ disposition.employee }}</td>
                    <td>{{ disposition.startDate|date('d.m.Y') }}</td>
                    <td>{{ disposition.endDate|date('d.m.Y') }}</td>
                    <td>{{ disposition.startDate|date('H.i') }} - {{ disposition.endDate|date('H.i') }}</td>
                    <td>
                    <a href="{{ path('overtime_disposition_edit', {disposition: disposition.id}) }}" class="btn btn-sm btn-primary mr-2">
                        <i class="fas fa-pen"></i>Edytuj
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
            <a href="{{ path('overtime_disposition_add') }}" class="btn btn-primary">Dodaj dyspozycję</a>
        {% endif %}
        {% if is_granted('ROLE_EMPLOYEE') %}
        <table class="table table-striped">
            <tr>
                <th scope="col">Pracownik</th>
                <th scope="col">Początek dyspozycji</th>
                <th scope="col">Koniec dyspozycji</th>
            </tr>
            {% for disposition in overtimeDisposition %}
                {% if employee==disposition.employee %}
                <tr>
                    <td>{{ disposition.employee }}</td>
                    <td>{{ disposition.startDate|date('d.m.Y') }}</td>
                    <td>{{ disposition.endDate|date('d.m.Y') }}</td>
                    <td>{{ disposition.startDate|date('H.i') }} - {{ disposition.endDate|date('H.i') }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
            <a href="{{ path('overtime_disposition_add') }}" class="btn btn-primary">Dodaj dyspozycję</a>
        {% endif %}
    </div>
{% endblock %}
