{% macro sidebar(activeTab) %}
    <nav class="sidebar text-center">
        <img src="{{ asset("images/logo.svg") }}" class="img-fluid w-50 my-3" alt="dokumenty.png">
        <ul class="navbar-nav sidebar__components text-left">
            <li class="nav-item">
                <a href="{{ path('index') }}"
                   class="sidebar__link {% if activeTab == "homepage" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-home"></i> Strona Główna
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('events') }}"
                   class="sidebar__link {% if activeTab == "events" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-calendar-week"></i> Wydarzenia
                </a>
            </li>
            <li>
                <a href="{{ path('teams') }}"
                   class="sidebar__link {% if activeTab== "team" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-users"></i> Zespoły
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('employees') }}"
                   class="sidebar__link {% if activeTab == "employees" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-user-friends"></i> Pracownicy
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('tasks') }}"
                   class="sidebar__link {% if activeTab == "tasks" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-tasks"></i> Zadania
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('milestones') }}"
                   class="sidebar__link {% if activeTab == "milestones" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-mountain"></i> Kamienie Milowe
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('vacation') }}"
                   class="sidebar__link {% if activeTab == "vacation" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-mountain"></i> Wakacje
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('documents') }}"
                   class="sidebar__link {% if activeTab == "documents" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-file-alt"></i> Dokumenty
                </a>
            </li>
            <li class="nav-item">
                <hr>
            </li>
            <li class="nav-item">
                <a href="{{ path('settings') }}"
                   class="sidebar__link {% if activeTab == "settings" %}sidebar__link--active{% endif %}">
                    <i class="fas fa-cog"></i> Ustawienia
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_logout') }}" class="sidebar__link sidebar__link--logout">
                    <i class="fas fa-sign-out-alt"></i> Wyloguj
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}