{% extends 'base.html.twig' %}

{% set activeTab = "homepage" %}
{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
    {% set sidebarVisible = "false" %}
{% endif %}

{% block title %}Employee Management System{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center">
                    <h1 class="my-3">Posty</h1>
                    {% if is_granted("ROLE_EMPLOYER") %}
                        <a href="{{ path('post_add') }}" class="btn btn-primary btn-sm ml-2">Dodaj post</a>
                    {% endif %}
                </div>
                {% if posts %}
                    {% for post in posts %}
                        <div class="card">
                            <div class="card-body">
                                <header class="font-weight-bold">{{ post.topic }}</header>
                                <small>{{ post.author }}</small>
                                <p>{{ post.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>👋 Brak postów na ten moment</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div style="height:1000px;overflow:auto;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ asset("images/outlinelogo.svg") }}" class="img-fluid justify-content-start" alt="">
                        <h2 class="h2 text-left">Employee Managment System</h2>
                        <p class="text-left">
                            EMS to system stworzony, aby dać firmom możliwość łatwego zarządzania pracownikami.
                            Oferujemy między innymi:
                        </p>
                    </div>
                    <div class="col-6">
                        <img src="{{ asset("images/welcome.svg") }}" class="img-fluid" alt="welcome.svg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="{{ asset("images/temporary/dokumenty.png") }}" class="img-thumbnail"
                             alt="dokumenty.png">
                        <p class="text-left">
                            Łatwy dostęp do plików
                        </p>
                    </div>
                    <div class="col-6">
                        <img src="{{ asset("images/temporary/kamieniemilowe.png") }}" class="img-thumbnail"
                             alt="kamieniemilowe.png">
                        <p class="text-left">
                            Czytelna lista zadań i kamieni milowych
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="{{ asset("images/temporary/listapracownikow.png") }}" class="img-thumbnail"
                             alt="listapracownikow.png">
                        <p class="text-left">
                            Prosty system edycji pracowników
                        </p>
                    </div>
                    <div class="col">
                        <img src="{{ asset("images/temporary/wydarzenia.png") }}" class="img-thumbnail"
                             alt="wydarzenia.png">
                        <p class="text-left">
                            Ułatwiona edycja wydarzeń
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}




{% endblock %}
