{% extends 'base.html.twig' %}

{% set activeTab = "homepage" %}
{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
    {% set sidebarVisible = "false" %}
{% endif %}

{% block title %}Employee Management System{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center">
                    <h1 class="my-3">Posty</h1>
                    {% if is_granted("ROLE_EMPLOYER") %}
                        <a href="{{ path('post_add') }}" class="btn btn-primary btn-sm ml-2">Dodaj post</a>
                    {% endif %}
                </div>
                {% if posts %}
                    {% for post in posts %}
                        <div class="card">
                            <div class="card-body">
                                <header class="font-weight-bold">{{ post.topic }}</header>
                                <small>{{ post.author }}</small>
                                <p>{{ post.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p> Brak post贸w na ten moment</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-between align-items-center">
                    <div>
                        <h1 class="text-primary">Zaloguj si do systemu</h1>
                        <p>Ju偶 dzi skorzystaj z systemu, kt贸ry pomaga ju偶 tysicom pracownik贸w na caym
                            wiecie!</p>
                        <a href="{{ path('app_login') }}" class="btn btn-primary btn">
                            <i class="fas fa-sign-in-alt"></i>
                            Panel logowania
                        </a>
                    </div>
                    <img src="{{ asset("images/welcome.svg") }}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="h2 text-left text-primary">Employee Management System</h2>
                    <p class="text-left">
                        EMS to narzdzie stworzone, aby da firmom mo偶liwo atwego zarzdzania pracownikami.
                        Oferujemy midzy innymi:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img src="{{ asset("images/temporary/dokumenty.png") }}" class="img-thumbnail" alt="">
                    <p class="text-left">atwy dostp do plik贸w</p>
                </div>
                <div class="col-6">
                    <img src="{{ asset("images/temporary/kamieniemilowe.png") }}" class="img-thumbnail" alt="">
                    <p class="text-left">Czytelna lista zada i kamieni milowych</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ asset("images/temporary/listapracownikow.png") }}" class="img-thumbnail" alt="">
                    <p class="text-left">Prosty system edycji pracownik贸w</p>
                </div>
                <div class="col">
                    <img src="{{ asset("images/temporary/wydarzenia.png") }}" class="img-thumbnail" alt="">
                    <p class="text-left">Uatwiona edycja wydarze</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
