{% extends 'base.html.twig' %}

{% set activeTab = "homepage" %}
{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
    {% set sidebarVisible = "false" %}
{% endif %}

{% block title %}Employee Management System{% endblock %}

{% block body %}
    <div class="header d-flex justify-content-between align-items-center">
        <h1>POSTY</h1>
        {% if is_granted("ROLE_EMPLOYER") %}
            <a href="{{ path('post_add') }}" class="btn btn-primary">Dodaj post</a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            {% if posts.count > 0 %}
                {% for post in posts %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <header class="font-weight-bold">{{ post.topic }}</header>
                                {% if post.author == app.user.employee %}
                                    <button type="button" class="btn btn-sm btn-danger btn--delete"
                                            data-path="{{ path('post_delete', {post: post.id}) }}"
                                            data-name="{{ post.topic }}">
                                        <i class="fas fa-trash"></i> Usuń
                                    </button>
                                {% endif %}
                            </div>
                            <small>{{ post.author }}</small>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>👋 Brak postów na ten moment</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
