{% extends 'base.notlogged.html.twig' %}

{% block title %}Employee Management System{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="text-primary">Zaloguj się do systemu</h1>
                    <p>Już dziś skorzystaj z systemu, który pomaga już tysiącom pracowników na całym
                        świecie!</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary btn">
                        <i class="fas fa-sign-in-alt"></i>
                        Panel logowania
                    </a>
                </div>
                <img src="{{ asset("images/welcome.svg") }}" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="heading text-left text-primary">Employee Management System</h2>
                <p class="text-left">
                    EMS to narzędzie stworzone, aby dać firmom możliwość łatwego zarządzania pracownikami.
                    Oferujemy między innymi:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="{{ asset("images/temporary/documents.png") }}" class="img-thumbnail" alt="">
                <p class="text-left">Łatwy dostęp do plików</p>
            </div>
            <div class="col-6">
                <img src="{{ asset("images/temporary/tasks.png") }}" class="img-thumbnail" alt="">
                <p class="text-left">Czytelne zarządzanie zadaniami</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ asset("images/temporary/teams.png") }}" class="img-thumbnail" alt="">
                <p class="text-left">Prosty system edycji pracowników i zespołów</p>
            </div>
            <div class="col">
                <img src="{{ asset("images/temporary/dispositions.png") }}" class="img-thumbnail" alt="">
                <p class="text-left">Ułatwione zarządzanie urlopami</p>
            </div>
        </div>
    </div>
{% endblock %}