{% extends 'base.html.twig' %}

{% set activeTab = "vacation" %}

{% block title %}Edycja wniosku o urlop{% endblock %}

{% block body %}
    <div class="header">
        <h1>Edycja wniosku o urlop</h1>
    </div>
    <strong>{{ vacation.employee }}</strong>
    <p>Początek urlopu : {{ vacation.startDate|date('d.m.Y') }}</p>
    <p>Koniec urlopu : {{ vacation.endDate|date('d.m.Y') }}</p>
    {{ form_start(form) }}
    {{ form_row(form.status) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('vacation') }}" class="btn btn-link">Wróć do listy</a>
    {{ form_end(form) }}
{% endblock %}