{% extends 'base.html.twig' %}
{% set activeTab = "vacation" %}
{% block title %}Urlopy{% endblock %}

{% block body %}
    {% if is_granted('ROLE_EMPLOYER') %}
        <div class="row">
            <div class="col">
                <h1 class="my-4">Urlopy</h1>
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Pracownik</th>
                        <th scope="col">Początek Urlopu</th>
                        <th scope="col">Koniec Urlopu</th>
                    </tr>
                    {% for vacation in vacations %}
                        {% if vacation.status=="accepted" %}
                            <tr>
                                <td>{{ vacation.employee }}</td>
                                <td>{{ vacation.startDate|date('d.m.Y') }}</td>
                                <td>{{ vacation.endDate|date('d.m.Y') }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <a href="{{ path('vacation_add') }}" class="btn btn-primary">Dodaj Urop</a>
                <a href="{{ path('vacation_manage') }}" class="btn btn-primary">Zarządzaj</a>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_EMPLOYEE') %}
        <div class="row">
            <div class="col">
                <h1 class="my-4">Urlopy</h1>
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Początek Urlopu</th>
                        <th scope="col">Koniec Urlopu</th>
                        <th scope="col">Status</th>
                    </tr>
                    {% for vacation in vacations %}
                        {% if vacation.employee == app.user.employee %}
                            <tr>
                                <td>{{ vacation.startDate|date('d.m.Y') }}</td>
                                <td>{{ vacation.endDate|date('d.m.Y') }}</td>
                                {% if vacation.status == "waiting_for_accept" %}
                                    <td>Czeka na zatwierdzenie</td>
                                {% elseif vacation.status == "not_accepted" %}
                                    <td>Nie Zatwierdzony</td>
                                {% elseif vacation.status == "accepted" %}
                                    <td>Zatwierdzony</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <a href="{{ path('vacation_add') }}" class="btn btn-primary">Złóż wniosek</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
