{% extends 'base.html.twig' %}
{% set activeTab = "vacation" %}
{% block title %}Urlopy{% endblock %}

{% block body %}
    {% if is_granted('ROLE_EMPLOYER') %}
        <h1 class="mb-3">Urlopy</h1>
        <div class="header"></div>
        <h4 class="vacationHeader">Zaakceptowane</h4>
            <div class="table-responsive" style="max-height: 22%">
                {% if acceptedVacations.count > 0 %}
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Pracownik</th>
                            <th scope="col">Początek Urlopu</th>
                            <th scope="col">Koniec Urlopu</th>
                            <th scope="col">Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vacation in acceptedVacations %}
                            <tr>
                                <td>{{ vacation.employee }}</td>
                                <td>{{ vacation.startDate|date('d.m.Y') }}</td>
                                <td>{{ vacation.endDate|date('d.m.Y') }}</td>
                                <td>
                                    <a href="{{ path('vacation_edit', {vacation: vacation.id}) }}"
                                       class="btn btn-primary"><i class="fas fa-pen"></i>Edytuj</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Brak aktywnych urlopów</p>
                {% endif %}
            </div>
        <a href="{{ path('vacation_add') }}" class="btn btn-primary" style="position: absolute; top: 30px; right: 16pt;">Złóź wniosek</a>


        <h4 class="vacationHeader">Oczekujące</h4>
            <div class="table-responsive" style="max-height: 22%">
                {% if waitingVacations.count > 0 %}
                    <table class="table table-hover table-bordered" >
                        <thead>
                        <tr>
                            <th scope="col">Pracownik</th>
                            <th scope="col">Początek Urlopu</th>
                            <th scope="col">Koniec Urlopu</th>
                            <th scope="col">Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vacation in waitingVacations %}
                            <tr>
                                <td>{{ vacation.employee }}</td>
                                <td>{{ vacation.startDate|date('d.m.Y') }}</td>
                                <td>{{ vacation.endDate|date('d.m.Y') }}</td>
                                <td>
                                    <a href="{{ path('vacation_confirm', {vacation: vacation.id}) }}"
                                       class="btn btn-sm btn-success">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <a href="{{ path('vacation_reject', {vacation: vacation.id}) }}"
                                       class="btn btn-sm btn-danger">
                                        <i class="fas fa-ban"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Brak oczekującuch wniosków o urlop</p>
                {% endif %}
            </div>

    <h4 class="vacationHeader">Odrzucone</h4>
            <div class="table-responsive" style="max-height: 22%">
                {% if rejectedVacations.count > 0 %}
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Pracownik</th>
                            <th scope="col">Początek Urlopu</th>
                            <th scope="col">Koniec Urlopu</th>
                            <th scope="col">Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vacation in rejectedVacations %}
                            <tr>
                                <td>{{ vacation.employee }}</td>
                                <td>{{ vacation.startDate|date('d.m.Y') }}</td>
                                <td>{{ vacation.endDate|date('d.m.Y') }}</td>
                                <td>
                                    <a href="{{ path('vacation_edit', {vacation: vacation.id}) }}"
                                       class="btn btn-primary"><i class="fas fa-pen"></i>Edytuj</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Brak odrzuconych wniosków o urlop</p>
                {% endif %}
            </div>


    {% endif %}
    {% if is_granted('ROLE_EMPLOYEE') %}
        <h1 class="my-4">Urlopy</h1>
        <div class="header"></div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Początek Urlopu</th>
                        <th scope="col">Koniec Urlopu</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vacation in app.user.employee.vacations %}
                        <tr>
                            <td>{{ vacation.startDate|date('d.m.Y') }}</td>
                            <td>{{ vacation.endDate|date('d.m.Y') }}</td>
                            {% if vacation.status == "waiting_for_accept" %}
                                <td>Czeka na zatwierdzenie</td>
                            {% elseif vacation.status == "rejected" %}
                                <td>Odrzucony</td>
                            {% elseif vacation.status == "accepted" %}
                                <td>Zatwierdzony</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                <a href="{{ path('vacation_add') }}" class="btn btn-primary" style="position: absolute; top: 50px; right: 16pt;">Złóż wniosek</a>
    {% endif %}
{% endblock %}
