{% extends 'base.html.twig' %}

{% set activeTab = "overtime" %}

{% block title %}Dodawanie dyspozycji{% endblock %}

{% block body %}
    <div class="header">
        <h1>Dodawanie dyspozycji</h1>
    </div>
    {{ form_start(form) }}
    {{ form_row((form.startDate)) }}
    {{ form_row((form.endDate)) }}
    {{ form_row((form.beginHour)) }}
    {{ form_row((form.endHour)) }}
    {{ form_row((form.description)) }}
    <button type="submit" class="btn btn-primary">Dodaj Dyspozycje</button>
    <a href="{{ path('disposition') }}" class="btn btn-link">Wróć do listy dyspozycji</a>
    {{ form_end(form) }}
{% endblock %}
