{% extends 'base.html.twig' %}

{% set activeTab = "overtime" %}

{% block title %}Dyspozycje{% endblock %}

{% block body %}
    <div class="header d-flex justify-content-between align-items-center">
        <h1>Dyspozycje</h1>
        {% if is_granted('ROLE_EMPLOYER') %}
            <a href="{{ path('overtime') }}" class="btn btn-primary">Nadgodziny</a>
        {% elseif is_granted("ROLE_EMPLOYEE") %}
            <div>
                <a href="{{ path('overtime') }}" class="btn btn-primary mr-4">Nadgodziny</a>
                <a href="{{ path('overtime_add') }}" class="btn btn-primary">Dodaj dyspozycję</a>
            </div>
        {% endif %}
    </div>
    {% if is_granted('ROLE_EMPLOYER') %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Pracownik</th>
                    <th scope="col">Początek dyspozycji</th>
                    <th scope="col">Koniec dyspozycji</th>
                    <th scope="col">Godziny</th>
                    <th scope="col">Dodatkowe informacje</th>
                    <th scope="col">Operacje</th>
                </tr>
                </thead>
                <tbody>
                {% for overtime in overtime %}
                    {% if overtime.status=="disposition" %}
                        <tr>
                            <td>{{ overtime.employee }}</td>
                            <td>{{ overtime.startDate|date('d.m.Y') }}</td>
                            <td>{{ overtime.endDate|date('d.m.Y') }}</td>
                            <td>{{ overtime.beginHour|date('H.i') }} - {{ overtime.endHour|date('H.i') }}</td>
                            <td>{{ overtime.description }}</td>
                            <td>
                                <a href="{{ path('overtime_edit', {overtime: overtime.id}) }}"
                                   class="btn btn-sm btn-primary mr-2">
                                    <i class="fas fa-pen"></i>Edytuj
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if is_granted('ROLE_EMPLOYEE') %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Początek dyspozycji</th>
                    <th scope="col">Koniec dyspozycji</th>
                    <th scope="col">Godziny</th>
                    <th scope="col">Dodatkowe informacje</th>
                </tr>
                </thead>
                <tbody>
                {% for overtime in overtime %}
                    {% if employee==overtime.employee and overtime.status=="disposition" %}
                        <tr>
                            <td>{{ overtime.startDate|date('d.m.Y') }}</td>
                            <td>{{ overtime.endDate|date('d.m.Y') }}</td>
                            <td>{{ overtime.beginHour|date('H.i') }} - {{ overtime.endHour|date('H.i') }}</td>
                            <td>{{ overtime.description }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
