{% extends 'base.html.twig' %}

{% set activeTab = "settings" %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <div class="header">
        <h1>Zmiana hasła</h1>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.password) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.confirmNewPassword) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('settings') }}" class="btn btn-link">Wróć do ustawień</a>
    {{ form_end(form) }}
{% endblock %}
