{% extends 'base.html.twig' %}

{% set activeTab = "employees" %}

{% block title %}Edycja pracownika{% endblock %}

{% block body %}
    <h1 class="my-4">Edycja pracownika</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.role) }}
    {{ form_row(form.dateOfBirth) }}
    {{ form_row(form.pesel) }}
    {{ form_row(form.address) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('employees') }}" class="btn btn-secondary">Wróć do listy pracowników</a>
    {{ form_end(form) }}
{% endblock %}