{% extends 'base.html.twig' %}

{% block title %}Pracownicy{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <h1 class="my-4">Lista pracowników</h1>
            <table class="table table-striped">
                <tr>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">PESEL</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Data urodzenia</th>
                    {% if is_granted('ROLE_EMPLOYER') %}
                        <th scope="col">Edytuj</th>
                    {% endif %}
                </tr>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.surname }}</td>
                        <td>{{ employee.pesel }}</td>
                        <td>{{ employee.address }}</td>
                        <td>{{ employee.dateOfBirth|date('d.m.Y') }}</td>
                        {% if is_granted('ROLE_EMPLOYER') %}
                            <td>
                                <a href="{{ path('employee_edit', {employee: employee.id}) }}" class="btn btn-primary">Edytuj</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ path('employees_add') }}" class="btn btn-primary">Dodaj pracownika</a>
        </div>
    </div>
{% endblock %}
