{% extends 'base.html.twig' %}

{% set activeTab = "milestones" %}

{% block title %}Edycja kamienia milowego{% endblock %}

{% block body %}
    <h1 class="my-4">Edycja kamienia milowego</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.realizationTime) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-dark">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}