{% extends 'base.html.twig' %}

{% block title %}Edycja Kamienia Milowego{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.realizationTime) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-dark">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}