{% extends 'base.html.twig' %}

{% set activeTab = "tasks" %}

{% block title %}Dodawanie zadania{% endblock %}

{% block body %}
    <h1 class="my-4">Dodawanie zadania</h1>
    {{ form_start(form) }}
    {{ form_row((form.name)) }}
    {{ form_row(form.employee) }}
    {{ form_row(form.deadline) }}
    {{ form_row(form.description) }}
    {{ form_row(form.status) }}
    {{ form_row(form.milestone) }}
    <button type="submit" class="btn btn-primary">Dodaj zadanie</button>
    <a href="{{ path('tasks') }}" class="btn btn-secondary">Wróć do listy zadań</a>
    {{ form_end(form) }}
{% endblock %}



