{% extends 'base.html.twig' %}

{% set activeTab = "tasks" %}

{% block title %}Edycja zadania{% endblock %}

{% block body %}
    <h1 class="my-4">Edycja zadania</h1>
    <div class="header"></div>
    {{ form_start(form) }}
    {{ form_row((form.name)) }}
    {{ form_row((form.assignation)) }}
    {{ form_row((form.deadline)) }}
    {{ form_row((form.description)) }}
    {{ form_row(form.status) }}
    {{ form_row(form.milestone) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('tasks') }}" class="btn btn-secondary">Wróć do listy zadań</a>
    {{ form_end(form) }}
{% endblock %}