{% extends 'base.html.twig' %}

{% set activeTab = "tasks" %}

{% block title %}Zadania{% endblock %}

{% block body %}
    <div class="header d-flex justify-content-between align-items-center">
        <h1>LISTA ZADAŃ</h1>
        {% if is_granted('ROLE_EMPLOYER') %}
            <div>
                <a href="{{ path('tasks_add') }}" class="btn btn-primary mr-4">Dodaj zadanie</a>
                <a href="{{ path('status') }}" class="btn btn-primary">Lista statusów</a>
            </div>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Pracownik</th>
                <th scope="col">Data wystawienia</th>
                <th scope="col">Termin realizacji</th>
                <th scope="col">Opis</th>
                <th scope="col">Status</th>
                <th scope="col">Kamień milowy</th>
                {% if is_granted('ROLE_EMPLOYER') %}
                    <th>Operacje</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.employee }}</td>
                    <td>{{ task.creationDate|date('d.m.Y H:i') }}</td>
                    <td>{{ task.deadline |date('d.m.Y H:i') }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.milestone }}</td>
                    {% if is_granted('ROLE_EMPLOYER') %}
                        <td>
                            <a href="{{ path('task_edit', {task: task.id}) }}" class="btn btn-sm btn-primary mr-2">
                                <i class="fas fa-pen"></i>Edytuj
                            </a>
                            <button data-path="{{ path('task_delete', {task: task.id}) }}"
                                    data-name="{{ task.name }}"
                                    class="btn btn-sm btn-danger btn--delete">
                                <i class="fas fa-trash"></i>Usuń
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
