{% extends 'base.html.twig' %}

{% set activeTab = "tasks" %}

{% block title %}Zadania{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="my-4">Lista zadań</h1>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Pracownik</th>
                    <th scope="col">Data wystawienia</th>
                    <th scope="col">Termin realizacji</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Status</th>
                    <th scope="col">Kamień milowy</th>
                    {% if is_granted('ROLE_EMPLOYER') %}
                        <th>Edytuj</th>
                    {% endif %}
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.employee }}</td>
                        <td>{{ task.creationDate|date('d.m.Y H:i') }}</td>
                        <td>{{ task.deadline |date('d.m.Y H:i') }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.milestone }}</td>
                        {% if is_granted('ROLE_EMPLOYER') %}
                            <td>
                                <a href="{{ path('task_edit', {task: task.id}) }}" class="btn btn-primary">Edytuj</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            {% if is_granted('ROLE_EMPLOYER') %}
                <a href="{{ path('tasks_add') }}" class="btn btn-primary">Dodaj zadanie</a>
                <a href="{{ path('status') }}" class="btn btn-primary">Lista statusów</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
