{% extends 'base.html.twig' %}

{% block title %}Dodawanie wydarzenia{% endblock %}

{% block body %}
    {{  form_start(form) }}
    {{ form_row (form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-dark">Dodaj</button>
    <a href="{{ path('events') }}" class="btn btn-secondary">Wróć do listy wydarzeń</a>
    {{ form_end(form) }}
{% endblock %}