{% extends 'base.html.twig' %}

{% set activeTab = "events" %}

{% block title %}Edycja wydarzenia{% endblock %}

{% block body %}
    <h1 class="my-4">Edycja wydarzenia</h1>
    <div class="header"></div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="{{ path('events') }}" class="btn btn-secondary">Wróć do listy wydarzeń</a>
    {{ form_end(form) }}
{% endblock %}