{% extends 'base.html.twig' %}

{% set activeTab = "events" %}

{% block title %}Wydarzenia{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="my-4">Lista wydarzeń</h1>
    <div class="btn-group btn-group" role="group" aria-label="eventsFilter">
        <button id="todayEvents" class="btn btn-dark">dzisiaj</button>
        <button id="weekEvents" class="btn btn-dark">7 dni</button>
        <button id="allEvents" class="btn btn-dark">wszystkie</button>
    </div>
    <table class="table table-striped" id="eventTable">
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Data rozpoczęcia wydarzenia</th>
            <th scope="col">Data zakończenia wydarzenia</th>
            <th scope="col">Opis</th>
            {% if is_granted('ROLE_EMPLOYER') %}
                <th scope="col">Działania</th>
            {% endif %}
        </tr>
        {% for event in events %}
            <tr class="eventRow" data-startdate="{{ event.startDate|date('M d, Y') }}">
                <td>{{ event.name }}</td>
                <td>{{ event.startDate|date('d.m.Y') }}</td>
                <td>{{ event.endDate|date('d.m.Y') }}</td>
                <td>{{ event.description }}</td>
                {% if is_granted('ROLE_EMPLOYER') %}
                    <td>
                        <a href="{{ path('event_edit', {event: event.id}) }}" class="btn btn-sm btn-primary mr-2">
                            <i class="fas fa-pen"></i>Edytuj
                        </a>
                        <button data-path="{{ path('event_delete', {event: event.id}) }}"
                                data-name="{{ event.name }}"
                                class="btn btn-sm btn-danger btn--delete">
                            <i class="fas fa-trash"></i>Usuń
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if is_granted('ROLE_EMPLOYER') %}
        <a href="{{ path('events_add') }}" class="btn btn-primary">Dodaj wydarzenie</a>
    {% endif %}
{% endblock %}
