{% extends 'base.html.twig' %}

{% block title %}Wydarzenia{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <tr>
            <th scope="col">Data rozpoczęcia wydarzenia</th>
            <th scope="col">Data zakończenia wydarzenia</th>
            <th scope="col">Opis</th>
        </tr>
        {% for event in events %}
            {% if "now"|date('d') == event.startDate|date('d') %}
                <tr class="rowFilter" name="today">
                    <td>{{ event.startDate|date('d.m.Y') }}</td>
                    <td>{{ event.endDate|date('d.m.Y') }}</td>
                    <td>{{ event.description }}</td>
                </tr>
            {% elseif ("now"|date('d')-event.startDate|date('d')>=-7)and ("now"|date('d')-event.startDate|date('d')<=0) %}
                <tr class="rowFilter" name="sevenDays">
                    <td>{{ event.startDate|date('d.m.Y') }}</td>
                    <td>{{ event.endDate|date('d.m.Y') }}</td>
                    <td>{{ event.description }}</td>
                </tr>
            {% else %}
                <tr class="rowFilter" name="others">
                    <td>{{ event.startDate|date('d.m.Y') }}</td>
                    <td>{{ event.endDate|date('d.m.Y') }}</td>
                    <td>{{ event.description }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <a href="{{ path('events_add') }}" class="btn btn-primary">Dodaj wydarzenie</a>
    <a href="{{ path('index') }}" class="btn btn-secondary">Wróć na stronę główną</a>
{% endblock %}
