{% extends 'base.html.twig' %}

{% block title %}Wydarzenia{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped table-dark">
        <tr>
            <th scope="col">Data rozpoczęcia wydarzenia</th>
            <th scope="col">Data zakończenia wydarzenia</th>
            <th scope="col">Pracownik</th>
            <th scope="col">Opis</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.startDate|date('d.m.Y') }}</td>
                <td>{{ event.endDate|date('d.m.Y') }}</td>
                <td>{{ event.employee }}</td>
                <td>{{ event.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('events_add') }}" class="btn btn-dark">Dodaj wydarzenie</a>
    <a href="{{ path('index') }}" class="btn btn-secondary">Wróć na stronę główną</a>
{% endblock %}
